footer {
  position: fixed;
  background-color: white;
  bottom: 0;
  width: 100vw;
  padding-bottom: 30px;
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
}
.footer-block {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer-icons__img {
  width: 30px;
}
.footer-icons {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  cursor: pointer;
}
.footer-icons__desc {
  font-size: 10px;
  margin-top: 6px;
}
@keyframes doong {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
.footer-icons:hover .footer-icons__img:hover {
  animation: 2s doong;
}
